VITE_FIREBASE_API_KEY=AIzaSyClkGmocTB7iKkTIUBgjRCSNef7KKTe4Wc
VITE_FIREBASE_AUTH_DOMAIN=devmentor-d2cb7.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=devmentor-d2cb7
VITE_FIREBASE_STORAGE_BUCKET=devmentor-d2cb7.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=818913838214
VITE_FIREBASE_APP_ID=1:818913838214:web:70d131984a91845617bd07
VITE_USE_MOCKS=false
VITE_COMPILER_PROVIDER=piston
VITE_USE_EMULATOR=false

